<div class="single-video-author box mb-3">
    <div class="float-right">
        <button class="btn btn-danger" type="button">Subscribe
            <strong>
                <%= creator.subscribers %>
            </strong>
        </button>
        <button class="btn btn btn-outline-danger" type="button">
            <i class="fas fa-bell"></i>
        </button>
    </div>
    <img class="img-fluid" src="/images/<%= channelBox.image %>" alt="<%= channelBox.altText %>">
    <p><a href="#"><strong>
                <%= creator.userName %>
            </strong></a>
        <% if (channelBox.isVerified) { %>
            <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified">
                <i class="fas fa-check-circle text-success"></i>
            </span>
            <% } %>
    </p>
    <small>Published on <%= channelBox.date %></small>
</div>
